body{
   background-image: url("images.png");
  
}
h1{
    text-align: center;
    color: white;
   padding: 3px;
   font-family: arial;
   
}
header{
    background: rgba(3, 0, 0, 0.445);
    border-radius: 30px;
 box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.767);}
section{
    background: rgba(5, 0, 0, 0.452);
    border-radius: 30px;
   
    padding: 15px;
    margin:auto ;
    padding: 5px;
}

footer{
    text-align: center;
    font-size: 28px;
}
h2{ text-align: center;
color: white;
}
.box1{
    text-align: center;
    border-radius: 60px;
}
.zemedina1{
    transition: all .5s;
    border-radius: 10px  #eeeeee;
}
.zemedina1:hover{
    border: 15px solid #008cff;
    border-radius: 50%;
   
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  
}
button {
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff00;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 0px solid #ffffff00;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }

h3{
    text-align: center;
}
h4{
    color: rgb(102, 175, 180);
    font-size: 9pt;
}
.box2{
    color: rgb(23, 111, 117);
}
.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.text-item {
	position: absolute;
	left: 5%;
	right: 5%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	text-align: center;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.mais{
    text-align: center;
}